/* Ogólne style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(to bottom, #6a11cb, #2575fc);
    color: white;
}

.animate-title {
    font-size: 48px;
    animation: fadeInDown 2s ease-in-out;
}

.sub-title {
    font-size: 20px;
    opacity: 0;
    animation: fadeInUp 2s ease-in-out 1s forwards;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature-item {
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.feature-item:hover {
    transform: scale(1.05);
}

button {
    background-color: #6a11cb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2575fc;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}

/* Animacje */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Styl dla linków do pobierania */
.download-link {
    display: block;
    margin: 10px 0;
    background-color: #6a11cb;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.download-link:hover {
    background-color: #2575fc;
}
